.stats {
    padding: 72px 48px;
}

.stats__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.stats h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.stats__item {
    padding: 0 2rem;
    border-radius: 12px;
}